@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Onest:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Questrial&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Onest:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Questrial&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --band-color: #e07b67;
    --dark-10: #121214;
    --dark-20: #17171A;
    --dark-30: #202024;
    --dark-40: #252529;
    --dark-50: #afabb6;
    --dark-60: #fff;

    --titel: 'Space Grotesk';
    --corpo-texto: 'inter';
}

body {
     background: var(--dark-10);
     color: var(--dark-60);
}

body h1{
    font-size: 40px;
}

body h2{
    font-size: 24px;
    margin-bottom: 16px;
}

body p{
    font-size: 20px;
}

body h1,
body h2 {
    font-family: var(--titel);
}

body p{
    font-family: var(--corpo-texto);
}

span {
    color: var(--band-color);
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 64px 0 64px;
    gap: 48px;
    background: var(--dark-20);
}

.header-bloco {
    max-width: 1216px;
    width: 100%;
}


input {
    width: 100%;
    background: var(--dark-30);
    color: var(--dark-50);
    padding: 16px 24px 16px;
    border: var(--dark-40) 1px solid;
    border-radius: 8px;
}

input:focus {
        outline: none;
        border-color: var(--dark-50); 
}


article {
    border: var(--dark-40) 1px solid;
    padding: 40px;
    margin: 40px 0;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}


.header-article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

section {
    padding: 0 65px;
}
article.liked {
  border: 1px solid var(--band-color);
}

article.liked .icon {
  color: var(--band-color);
}

.icon {
  color: gray;
  cursor: pointer;
  transition: 0.3s;
}

.active {
  color: #e07b67;
}

@media (max-width: 768px) {

  header {
    padding: 40px 24px;
  }

  .header-bloco {
    width: 100%;
  }

  section {
    margin: 40px 0;
    padding: 0 16px;
  }

  article {
    padding: 24px;
  }

  body h1 {
    font-size: 28px;
  }

  body h2 {
    font-size: 20px;
  }

  body p {
    font-size: 16px;
  }
}



